<!-- Aqui inicia o Banner -->

  <div class="banner-cond" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1629224834618-1cf72b367162?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  </div>

  <div class="container d-flex">
   <div class="menu">
    <div class="card-cond p-4"> <!--Aqui inicia o cartão de Boas Vindas ao condomínio -->
     <h1>Bem-vindo ao Condomínio</h1>
     <h1><%= @condominium.name %>!</h1>
    </div>
    <p></p>
    <p></p>
    <div class="card-btn p-3"> <!--Aqui iniciam os botões laterais -->
     <ul>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Home</a>
       <p></p>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Comunidade</a>
        <p></p>
      <%= link_to condominium_services_path(@condominium), title: "Agendamentos" do %>
        <button class="d-flex btn btn-primary m-auto text-white font-weight-bold text-decoration-none">Agendamentos</button>
      <% end %>
        <p></p>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Eventos</a>
        <p></p>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Portaria</a>
        <p></p>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Regras do Condomínio</a>
        <p></p>
      <a class="d-flex btn btn-primary m-auto text-white font-weight-bold" href="#">Apartamentos para Alugar</a>
     </ul>
    </div>
     <p></p>
   </div>

   <%= render "shared/agendamentos" %>
   <!--render "shared/condo_show" -->

</div>
