.cards-trip {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card-trip {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: black;
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  &:hover {
    transform: translateY(-20px); /* Move o elemento para cima */
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cards-trip {
    grid-template-columns: 1fr;
  }
}
