<%= render "shared/menu_style" %>
  <div class="col-12 align-items: center card-trip">
    <h3>Regras do Condomínio:</h3>


  <div class="row d-flex justify-content-between">
    <div class="col-12">
      <div class="cards-trip">
        <% @rules.each_with_index do |rule| %>
        <%= rule.title %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.admin %>
    <div class="col-8 d-flex justify-content-end">
      <%= link_to new_condominium_rule_path, title: "Minhas Regras" do %>
      <button class="btn btn-primary text-white justify-content-end">Adicionar Regras</button>
      <% end %>
    </div>
  <% end %>
</div>
